@import '../../styles/partials/variables';

@import '../../styles/partials/fonts';

.home {
    text-align: center;

    &__circle-container {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }

    &__circle {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: #bbb;
        // margin-top: 5rem;
        margin: auto;
    }

    &__image {
        @include mobile {
            width: 50%;
        }
        @include tablet {
            width: 30%;
        }
        @include desktop {
            width: 20%;
        }
    }
}